name: CI Pipeline

on:
  push:
    branches:
      - hager-ci

  pull_request:
    branches:
      - main


jobs:

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Image
        run: |
          docker build -t myapp .

  scan:
  name: Scan Image With Trivy
  runs-on: ubuntu-latest
  needs: build

  steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Trivy Scan (JSON Report)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: myapp
        format: json
        output: trivy-report.json
        severity: CRITICAL,HIGH
        exit-code: 0

    - name: Upload Trivy Report
      uses: actions/upload-artifact@v4
      with:
        name: trivy-json-report
        path: trivy-report.json


  push:
    name: Push Image
    runs-on: ubuntu-latest

    needs: scan

    steps:
      - name: Login To DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Push Image
        run: |
          docker tag myapp ${{ secrets.DOCKER_USER }}/myapp:latest
          docker push ${{ secrets.DOCKER_USER }}/myapp:latest

