name: CI Pipeline

on:
  push:
    branches:
      - hager-ci

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Repo
      uses: actions/checkout@v4


    # -------- BUILD --------
    - name: Build Image
      run: |
        docker build -t myapp:latest .


    # -------- SCAN --------
    - name: Trivy Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: myapp:latest
        format: json
        output: trivy-report.json
        exit-code: 0


    - name: Upload Trivy Report
      uses: actions/upload-artifact@v4
      with:
        name: trivy-report
        path: trivy-report.json


    # -------- DEBUG --------
    - name: Check Docker Username
      run: |
        echo "USER=${{ secrets.DOCKER_USER }}"


    # -------- LOGIN --------
    - name: Docker Login
      run: |
        echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin


    # -------- TAG --------
    - name: Tag Image
      run: |
        docker tag myapp:latest ${{ secrets.DOCKER_USER }}/myapp:ci


    # -------- PUSH --------
    - name: Push Image
      run: |
        docker push ${{ secrets.DOCKER_USER }}/myapp:ci
