name: CI Pipeline

on:
  push:
    branches:
      - hager-ci

jobs:

  build_scan:
    name: Build And Scan Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: myapp:latest
          load: true

      - name: Trivy Scan (JSON Report)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: myapp:latest
          format: json
          output: trivy-report.json
          severity: HIGH,CRITICAL
          exit-code: 0

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.json


  push:
    name: Push Image To DockerHub
    runs-on: ubuntu-latest
    needs: build_scan

    steps:
      - name: Login To DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ${{ secrets.DOC
