name: CI Pipeline

on:
  push:
    branches:
      - hager-ci

  pull_request:
    branches:
      - main


jobs:

  build-scan-push:
    name: Build Scan And Push Image
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4


      # ========== BUILD IMAGE ==========

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: myapp:latest
          load: true


      # ========== SCAN IMAGE ==========

      - name: Trivy Scan (JSON Report)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: myapp:latest
          format: json
          output: trivy-report.json
          severity: HIGH,CRITICAL
          exit-code: 0


      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-json-report
          path: trivy-report.json


      # ========== PUSH TO DOCKER HUB ==========

      - name: Login To DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}


      - name: Push Image To DockerHub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USER }}/myapp:ci-latest
